<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.css" rel=stylesheet>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

  <title>TeenyApp - My URLs</title>
</head>

<body>


  <%- include('partials/_header') %>

  <% if(user){ %>

  <section class="section">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="box">
          <h1 class='title'>My URLs </h1>
          <table class='table' style="margin:0px; width:100%;">
            <thead>
              <tr>
                <th scope=" col">Short URL</th>
                <th scope="col">Long URL</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody class='tbody'>
              <% for(let url in urls) { %>
              <tr>
                <form method="POST" action="urls/<%= url %>/delete?_method=DELETE">
                  <td><%= url %></td>
                  <td><%= urls[url].longURL %></td>
                  <td><a href="urls/<%= url %>" class="button is-success is-light is-small">Edit</td>
                  <td><input type="submit" value="Delete" class="button is-danger is-light is-small"></td>
                </form>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>


  <% } else{ %>
  <section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Hi, there!
        </h1>
        <h2 class="subtitle">
          You must be logged in to view your saved URLs.
        </h2>
      </div>
    </div>
  </section>
  <% } %>

</body>

</html>