<!DOCTYPE html>
<html lang="en">

<head>


  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.css" rel=stylesheet>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

  <title>TeenyApp - View & Edit Short URL</title>
</head>

<body>
  <%- include('partials/_header') %>
  <section class="section">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="card">
          <header class="card-header has-text-centered">

            <span class="card-header-title" style="margin:auto">
              Shortened URL
            </span>

          </header>
          <div class="card-content">
            <div class="content">
              <span class='is-size-3'><%= longURL %> ⇨</span>
              <a href="/u/<%= shortURL %>" class='is-size-3'><%= shortURL %>
            </div>
          </div>
          <footer class="card-footer">
            <a href="#" class="card-footer-item">Share</a>
            <a href="#" class="card-footer-item">Email</a>
            <a href="#" class="card-footer-item">Copy to Clipboard</a>
          </footer>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="box px-6 py-6">
          <div class='title is-centered'>
            <h3>Edit this URL</h3>
          </div>
          <form method="POST" action="<%= shortURL %>?_method=PUT">
            <div class="field has-addons">
              <div class="control">
                <input class="input is-expanded" size=50 type="text" name="newURL" placeholder="http://">
              </div>
              <div class="control">
                <button type="submit" class="button is-success">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class='section'>
    <div class="columns is-centered">
      <div class="column is-one-third">
        <nav class="level is-mobile">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Visits</p>
              <p class="title"><%= count %></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Unique Visits</p>
              <p class="title"><%= uniqueCount %></p>
            </div>
          </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="columns is-centered">
      <div class="column is-half">
        <table class="table" style="width:100%;">
          <thead>
            <tr>
              <th scope="col">timestamp</th>
              <th scope="col">visitor_id</th>
            </tr>
          </thead>
          <tbody>
            <% for(let visit in visits) { %>
            <tr>
              <td><%= visits[visit].timestamp %></td>
              <td><%= visits[visit].visitor_id %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</body>

</html>





</nav>